body{
    margin: 0;
}
#categorias {
    display: flex;
    flex-wrap: wrap;
}
.catImagem {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 200px;
    padding: 10px;

    height: 300px;
    width: 500px;
}
    .catImagem img {

        
        height: 100%;
        width: 100%;
    }
    .catImagem h1 {
        color: white;
        display : block;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.5);
        padding: 0px;
        position: absolute;
        width: 96.15%;
        margin: 0;
        text-align: left;
    }
.catImagem  p {

    display:none;
}

.catImagem:hover p {
    display:initial;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
    position: absolute;
    width: 96.15%;
    bottom: 0;
    margin: 0;
    text-align: left;
}
